@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

body{
    background-color: rgba(96, 140, 190, 0.911);
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    
}
main{
    min-width: 300px;
    max-width: 1000px;
    padding: 15px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
   

}
h1{
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px black;
}

button{
    font-size: 15pt;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px;
    background-color: rgba(49, 130, 145, 0.644);
    border-radius: 10%; 
}

div#area{
    background: rgba(85, 187, 85, 0.781);
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 40px;
    margin: auto;
    padding: 30px;
}

input.itemtd{
    padding: 15px ;
}

