@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{
    --vermelho: #e50914;
    --preta: #141414;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* define o tamanho da caixa para não vazar*/
}

/* Elementos base */
body{
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


header .container{
    display: flex; /*display em flex coloca tudo em linha, inline*/
    flex-direction: row;
    align-items: center; /*alinhar os itens ao centro, vai alinhar as caixas e não o texto, imagino que seja essa a diferença entre o text aling*/
    justify-content: space-between; /* distancia entre os elementos, no caso a nav e a logo, poderia mudar os lados*/
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Bebas Neue', cursive; 
    letter-spacing: 0.5em;
    font-size: 40px;
    text-align: left;
    cursor: pointer;
    
}

header .logo:hover{
    color: white;
}

nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

header nav a:hover{
    color: #fff;
}

/*Conteudo em destaque*/
/*divida css em categorias e sempre comente entre as divisões*/

.filme-principal{
    font-size: 16px;
    /* coloquei a imagem como background*/
    /*img que eu escolhi não é muito boa, preciso ou pegar uma menor ou outra.*/
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.50)100%), url(../img/thegreat.jpg);
    /* Defini o tamanho da caixa, filme principal*/
    height: 460px;
    /* defini o comportamento do background*/
    background-size: cover;
    
    display: flex;
    /* colocou como coluna, nao na linha*/
    flex-direction: column;
    /* normalizar ele na vertical, segue a direção do flex direction, cada item numa linha*/
    justify-content: center;
    /*comecem sempre a esquerda*/
    align-items: flex-start;

    
}


.filme-principal .titulo{
    margin-top: 5px;
    font-size: 40px;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.descricao{
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
   /* margin-left: 10px;*/
}

.botao{
    background-color: rgba(0, 0, 0, 0.493);
    border: none;
    color: white;
    padding: 15px;
    margin-left: 10px;
    margin-right: 12px;
    font-size: 12px;
    /*faz o cursor virar um ponteiro, pra parecer ainda mais que é um botão*/
    cursor: pointer;
    /* transição, tempo estilo todo */
    transition: .3s ease all;
}
.botao:hover{
    border: 1px solid white;
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

/*
WRAPPER = ENVELOPAR 


*/

.container{
    margin-left: 10px;
}

.filme-principal .container{
    /*tamanho total da caixa de texto*/
    width: 60%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 15px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.rodape{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: center;
    margin: auto;

}

.botao a{
    text-decoration: none;
    color: white;
    transition: .3s ease all;
    
}
.botao a:hover{
    background-color: white;
    color: black;
}